<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BGP Assignment" parallel="false" thread-count="1">
    <test name="User story 1" enabled="false">
        <parameter name="testName" value="User Story 1"/>
        <classes>
            <class name="testCases.TestCase">
                <methods>
                    <include name="userLoginToLandingPage"/>
                    <include name="grantSelections"/>
                    <include name="eligibilityPageWrongURL"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="User story 2" enabled="false">
        <parameter name="testName" value="User Story 2"/>
        <classes>
            <class name="testCases.TestCase">
                <methods>
                    <include name="userLoginToLandingPage"/>
                    <include name="grantSelections"/>
                    <include name="eligibilityPage"/>
                    <include name="contactDetailsFullUpdatePage"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="User story 3">
        <parameter name="testName" value="User Story 3"/>
        <classes>
            <class name="testCases.TestCase">
                <methods>
                    <include name="userLoginToLandingPage"/>
                    <include name="grantSelections"/>
                    <include name="eligibilityPage"/>
                    <include name="contactDetailsPagePartialUpdate"/>
                    <include name="proposalPage"/>
                    <include name="businessImpactPage"/>
                    <include name="costPage"/>
                    <include name="declareAndReview"/>
                    <include name="errorValidationAndCorrection"/>
                    <include name="reviewAndSubmit"/>
                    <include name="validateReferenceNumber"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>